
name: Build Docker image

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '**'

jobs:
  docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: false
